.webform-submission-contact-form {
  display: flex;
  flex-direction: column;
  gap: space(8);

  @include med(md) {
    gap: space(6);
  }

  .form-item {
    display: flex;
    flex-direction: column;
    gap: space(1);
    margin: 0;

    &.js-form-type-checkbox {
      @include ibm-plex-sans(17px, 400);
      flex-direction: row;
      gap: space(2.5);

      input[type="checkbox"] {
        flex-shrink: 0;
        -webkit-appearance: none;
        appearance: none;
        background-color: $white;
        margin: 0;
        box-sizing: border-box;

        font: inherit;
        color: $neutral-800;
        width: 25px;
        height: 25px;
        border: 1px solid $neutral-800;
        border-radius: 0;

        display: grid;
        place-content: center;
        padding: 0;

        &.error {
          border-color: $negative-500;
        }

        &::before {
          content: url("/themes/custom/umweltinfo/src/assets/images/check.svg");
          display: block;
          margin-left: 2px;
          width: 18px;
          height: 18px;
          transform: scale(0);
          //transition: 120ms transform ease-in-out;
        }

        &:checked {
          background-color: $secondary-800;
          border-color: $secondary-800;

          &::before {
            transform: scale(1);
          }
        }
      }

      .description {
        @include ibm-plex-sans(17px, 400);
        margin: 0;

        @include med(sm) {
          @include ibm-plex-sans(14px, 400);
        }
      }
    }

    label {
      @include ibm-plex-mono(14px, 400);

      @include med(sm) {
        @include ibm-plex-mono(12px, 400);
      }
    }

    select,
    input,
    textarea {
      @include ibm-plex-sans(17px, 400);
      padding: space(3.5) space(4);
      border: 1px solid $neutral-600;
      border-radius: 0;

      @include med(sm) {
        @include ibm-plex-sans(14px, 400);
      }
    }

    select {
      appearance: none;
      background-image: url("/themes/custom/umweltinfo/src/assets/images/chevron-down.svg");
      background-repeat: no-repeat;
      background-position: right space(4) top 50%;
    }
  }

  .form-actions {
    margin: 0;

    input[type="submit"] {
      @include primary-button;
    }
  }

  .webform-flexbox {
    display: flex;
    flex-direction: row;
    gap: space(8);
    margin: 0;

    @include med(md) {
      flex-direction: column;
      gap: space(6);
    }

    .webform-flex--container {
      margin: 0;
    }
  }
}
