.ui-widget {
  &.ui-widget-content {
    width: 80vw !important;
    left: 50% !important;
    transform: translateX(-50%);
    padding: space(16) space(20);
    background: $neutral-100;
    border: 1px solid $neutral-600;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.16), 0 0 0 10000vmax rgba(20, 17, 52, 0.25);

    @include med(lg) {
      padding: space(12) space(15);
    }

    @include med(sm) {
      padding: space(8) space(10);
    }

    .ui-dialog-titlebar {
      position: unset;
      border: none;
      border-radius: 0;
      background: $neutral-100;
      padding: 0;

      span {
        display: none;
      }
    }
  }
}

.ui-dialog {
  .ui-dialog-titlebar-close {
    background: url("/themes/custom/umweltinfo/src/assets/images/x.svg") no-repeat center !important;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    margin-top: 0;
    cursor: pointer;

    @include med(sm) {
      width: 50px;
      height: 50px;
    }
  }
  .ui-dialog-content {
    padding: 0;
  }
  .ui-dialog-buttonpane {
    display: flex;
    padding: 0 !important;
    border: none;
    background: $neutral-100 !important;

    .form-actions {
      margin: 0;

      button {
        @include primary-button;
      }
    }
  }
}


.webform-submission-article-feedback-form {
  display: flex;
  flex-direction: column;
  gap: space(5);

  @include med(md) {
    gap: space(4);
  }

  .webform-flexbox,
  .webform-flex--1,
  .webform-flex--container {
    margin: 0;
  }

  .webform-flex--1 {
    &:nth-child(1) {
      padding-right: space(10);

      @include med(sm) {
        padding-right: 0;
      }
    }
  }

  .form-item {
    display: flex;
    flex-direction: column;
    gap: space(1);
    margin: 0;
    &.js-form-type-checkbox {
      @include ibm-plex-sans(17px, 400);

      flex-direction: row;
      gap: space(2.5);

      input[type="checkbox"] {
        flex-shrink: 0;
        -webkit-appearance: none;
        appearance: none;
        background-color: $white;
        margin: 0;
        box-sizing: border-box;

        font: inherit;
        color: $neutral-800;
        width: 25px;
        height: 25px;
        border: 1px solid $neutral-800;
        border-radius: 0;

        display: grid;
        place-content: center;
        padding: 0;

        &.error {
          border-color: $negative-500;
        }

        &::before {
          content: url("/themes/custom/umweltinfo/src/assets/images/check.svg");
          display: block;
          margin-left: 2px;
          width: 18px;
          height: 18px;
          transform: scale(0);
          //transition: 120ms transform ease-in-out;
        }

        &:checked {
          background-color: $secondary-800;
          border-color: $secondary-800;

          &::before {
            transform: scale(1);
          }
        }
      }

      .description {
        @include ibm-plex-sans(17px, 400);
        margin: 0;

        @include med(sm) {
          @include ibm-plex-sans(14px, 400);
        }
      }
    }

    label {
      @include ibm-plex-mono(14px, 400);

      @include med(sm) {
        @include ibm-plex-mono(12px, 400);
      }
    }

    select,
    input,
    textarea {
      @include ibm-plex-sans(17px, 400);
      padding: space(3.5) space(4);
      border: 1px solid $neutral-600;
      border-radius: 0;

      @include med(sm) {
        @include ibm-plex-sans(14px, 400);
      }
    }
  }

  .feeback-intro-title {
    @include ibm-plex-mono(37px, 700);
    margin: 0;
    display: block;

    @include med(lg) {
      @include ibm-plex-mono(28px, 700);
    }

    @include med(sm) {
      @include ibm-plex-mono(21px, 700);
    }
  }
  .feedback-source-title {
    @include ibm-plex-mono(14px, 400);

    label {
      display: flex;
      padding-bottom: space(1);
    }

    span {
      @include ibm-plex-sans(17px, 400);

      display: flex;
      padding: space(3.5) space(4);
      border: 1px solid $neutral-600;
      border-radius: 0;
      background-color: $white;
    }

    @include med(sm) {
      @include ibm-plex-mono(12px, 400);
    }
  }
}
