* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;

  &.user-logged-in {
    &.toolbar-fixed {
      .region-header {
        .menu--header-submenu {
          top: 39px;
        }
      }
    }
    &.toolbar-tray-open {
      .region-header {
        .menu--header-submenu {
          top: 79px;
        }
      }
    }
  }
}

a {
  color: $black;

  &:visited,
  &:active {
    color: $black;
  }
}

p {
  margin: 0;
}

h1 {
  @include ibm-plex-mono(37px, 700);

  @include med(sm) {
    @include ibm-plex-mono(21px, 700);
  }
}

h2 {
  @include ibm-plex-mono(24px, 700);

  @include med(sm) {
    @include ibm-plex-mono(19px, 700);
  }
}

h3 {
  @include ibm-plex-mono(21px, 700);
}

.dialog-off-canvas-main-canvas {
  @include ibm-plex-mono(16px, 500);
  color: $black;

  > .layout-container {
    display: flex;
    flex-direction: column;
    gap: space(8);
    background-color: $neutral-100;

    @include med(sm) {
      gap: 0;
    }

    > main {
      margin-bottom: space(-8);

      @include med(sm) {
        margin-bottom: 0;
      }
    }
  }
}

[data-drupal-messages] {
  margin-bottom: space(12);
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

a {
  &.visually-hidden {
    &.focusable {
      &:focus {
        display: inline-block;
        margin-top: 45px;
      }
    }
  }
  &:focus-visible {
    outline: $secondary-500 auto 1px;
    outline-offset: 6px;
  }
}

:focus-visible {
  outline: $secondary-500 auto 1px;
  outline-offset: 6px;
}

h1,
h2,
h3,
.top-5-block__item a {
  hyphens: auto;
}

.leaflet-container {
  position: relative;
  z-index: 1;
}

.MobileFilterHead {
  position: relative;
  top: 55px;
}
