.taxonomy-term {
  .content {
    > .layout--onecol {
      > .layout__region {
        display: flex;
        flex-direction: column;
        gap: space(4);

        .block-field-blocktaxonomy-termtagsfield-extra-label {
          @include ibm-plex-mono(14px, 600);
          color: $neutral-700;

          @include med(sm) {
            @include ibm-plex-mono(12px, 700);
          }
        }

        .block-field-blocktaxonomy-termtagsname {
          h1 {
            margin: 0;
          }
        }

        .block-field-blocktaxonomy-termtagsdescription {
          @include ibm-plex-mono(19px, 700);
          max-width: 840px;

          @include med(sm) {
            @include ibm-plex-mono(17px, 700);
          }
        }

        .block-views {
          margin-top: space(6);
        }
      }
    }

    > .layout--twocol-section {
      display: flex;
      gap: space(20);
      flex-wrap: nowrap;
      margin-top: space(20);
      margin-bottom: space(20);

      @include med(xl) {
        gap: space(10);
      }

      @include med(lg) {
        flex-direction: column;
        margin-bottom: space(8);
      }

      > .layout__region {
        &.layout__region--first {
          flex: 1;
          min-width: 0;
          border-bottom: 1px solid $neutral-600;
          position: relative;

          .block-views-blockarticle-overview-taxonomy-block-1 {
            padding-bottom: space(5);

            h2 {
              margin-top: 0;
            }

            .view-article-overview-taxonomy {
              .view-content {
                grid-template-columns: 1fr 1fr 1fr;

                @include med(xl) {
                  grid-template-columns: 1fr 1fr;
                }

                @include med(md) {
                  grid-template-columns: 1fr;
                  gap: 0;
                }

                > .views-row {
                  min-width: 0;
                }
              }
            }
          }

          .block-field-blocktaxonomy-termtagsfield-inhalt {
            @include ibm-plex-sans(19px, 400);
            line-height: 138%;
            margin-top: space(8);

            @include med(sm) {
              @include ibm-plex-sans(14px, 400);
            }

            .field--name-field-inhalt {
              display: flex;
              flex-direction: column;
              gap: space(8);
              margin-bottom: space(10);

              h2 {
                margin: 0 0 space(2.5);
              }

              .cboxElement {
                position: relative;

                &:before {
                  content: url("/themes/custom/umweltinfo/src/assets/images/maximize-2.svg");
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  background-color: $white;
                  padding: 8px;
                }
              }
            }
          }

          .block-field-blocktaxonomy-termtagsfield-external-sources {
            .field--name-field-external-sources {
              padding: space(5) 0;
              border-top: 1px solid $neutral-600;

              .field__label {
                @include ibm-plex-mono(17px, 700);
                line-height: 25px;
                color: $neutral-800;
                margin: 0;
                cursor: pointer;
                position: relative;

                &:after {
                  content: url("../src/assets/images/accordeon.svg");
                  position: absolute;
                  top: 0;
                  right: 0;
                }

                &.closed {
                  &:after {
                    transform: rotate(180deg);
                  }
                }
              }

              .field__items {
                max-height: 100%;
                padding-top: space(5);
                overflow: hidden;

                &.closed {
                  max-height: 0;
                  padding: 0;
                }
              }
            }
          }
        }

        &.layout__region--second,
        &.layout__region--second .inner-wrapper-sticky {
          display: flex;
          flex-direction: column;
          gap: space(5);
          min-width: 360px;
          will-change: min-height;

          @include med(sm) {
            min-width: 100%;
          }

          .block-field-blocktaxonomy-termtagsfield-search-links {
            .field--name-field-search-links {
              display: flex;
              flex-direction: column;
              gap: space(5);

              .field__label {
                @include ibm-plex-mono(15px, 700);
                color: $neutral-800;
              }

              .field__items {
                display: flex;
                flex-direction: column;
                gap: space(2.5);

                .field__item {
                  a {
                    @include ibm-plex-mono(14px, 400);
                    display: block;
                    width: 100%;
                    padding: space(1.5) space(2.5);
                    background-color: $secondary-300;
                    border: 1px solid $neutral-300;
                    text-decoration: none;
                  }
                }
              }
            }
          }

          .block-taxonomy-term-topics-block {
            .taxonomy-term-topics__container {
              .taxonomy-term-topics__content {
                display: flex;
                flex-direction: column;
                gap: space(5);

                .taxonomy-term-topics__headline {
                  @include ibm-plex-mono(15px, 700);
                  color: $neutral-800;
                }

                .taxonomy-term-topics__items {
                  display: flex;
                  gap: space(2.5);
                  flex-wrap: wrap;
                  max-height: 60vh;
                  overflow-x: auto;

                  .taxonomy-term-topics__item {
                    a {
                      @include ibm-plex-mono(14px, 400);
                      display: block;
                      width: 100%;
                      padding: space(1.5) space(2.5);
                      background-color: $secondary-300;
                      border: 1px solid $neutral-300;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
