{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{{ attach_library('umweltinfo/maps') }}

<div id="map" class="map"></div>
<div id="popup" class="ol-popup"></div>

<a id="geojson-map-source"

  {% for item in items %}
    data-layer-url-{{ loop.index0 }}="{{ item.content }}"
    {% if loop.last %}
      href="{{ item.content }}" 
    {% endif %}
  {% endfor %}

  download>Download GeoJSON</a>
