{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{{ attach_library('umweltinfo/plots') }}

<div class="plot">
  <script type="application/json">
    {{ items[0].content['#context']['value']|raw }}
  </script>
</div>
