.paragraph--type--access-and-not-found {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: space(12);
  color: $primary-900;

  .field--name-field-title {
    z-index: 2;

    h1 {
      @include ibm-plex-mono(280px, 400);
      margin: 0;

      @include med(md) {
        @include ibm-plex-mono(120px, 400);
      }
    }
  }

  .field--name-field-subtitle {
    @include ibm-plex-mono(45px, 700);
    z-index: 2;

    @include med(md) {
      @include ibm-plex-mono(24px, 400);
    }
  }

  .field--name-field-image {
    position: absolute;
    top: 0;

    @include med(md) {
      .field--name-field-media-image {
        > .field__item {
          display: flex;
          justify-content: center;

          img {
            width: 80%;
          }
        }
      }
    }
  }
}

.page-4xx {
  .field--name-field-content {
    > .field__item {
      z-index: 3;

      &:first-child {
        z-index: 2;
      }
    }
  }
}
