.field__item {
  >.accordion {
    padding: space(5) 0;
    border-top: 1px solid $neutral-600;

    >.accordion-button {
      background: none;
      border: none;
      padding: 0;
      text-align: left;
      position: relative;
      width: 100%;

      >* {
        width: 95%;
      }

      &:after {
        content: url("../src/assets/images/accordeon.svg");
        position: absolute;
        top: space(1);
        right: 0;
        width: 5%;
        text-align: center;
        transform: rotate(180deg);
      }

      &[aria-expanded="true"] {
        &:after {
          transform: rotate(0deg);
          transition: transform 0.3s;
        }
      }
    }

    >.accordion-content {
      margin-top: space(5);
    }
  }

  +.field__item:has(.accordion) {
    margin-bottom: space(-9);
  }

  &:not(:has(+ .field__item > .accordion)) {
    margin-bottom: 0;
  }

  &:not(:has(+ .field__item > .accordion))>.accordion {
    border-bottom: 1px solid $neutral-600;
  }

}

article.node.node--view-mode-full>.node__content>.layout--twocol-section>.layout__region.layout__region--first .block-field-blocknodearticlefield-content .field--name-field-content .field__item>.accordion>.accordion-button>.field--name-field-accordion-title>* {
  margin: 0;
}