.paragraph--type--conclusion {
  display: flex;
  flex-direction: column;
  gap: space(2.5);
  padding: space(10);
  background-color: $green-100;

  @include med(sm) {
    padding: space(5);
  }

  @media print {
    break-inside: avoid;
    padding: 0;
  }

  .field--name-field-title {
    @include ibm-plex-mono(24px, 700);
    color: $green-900;

    @include med(sm) {
      @include ibm-plex-mono(21px, 700);
    }

    @media print {
      color: $black;
    }
  }

  .field--name-field-text {
    @include ibm-plex-sans(19px, 400);

    @include med(sm) {
      @include ibm-plex-sans(14px, 400);
    }
  }
}
