.paragraph--type--customizable-teaser {
    &.primary-gradient {
      background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(181,181,243,1) 100%);

      a {
        @include primary-button;
      }
    }

    &.secondary-gradient {
      background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(14,89,165,1) 100%);

      a {
        @include brown-button;
      }
    }

    &.brown-gradient {
      background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(204,153,81,1) 100%);

      a {
        @include primary-button;
      }
    }

    &.paragraph--view-mode--default {
      padding: space(16);
      margin-top: 50px;

      @include med(xl) {
        padding: space(8);
      }

      @include med(lg) {
        margin-top: 40px;
        margin-bottom: 0;
      }

      @include med(sm) {
        padding: space(5);
        margin-top: 80px;
        margin-left: -20px;
        margin-right: -20px;
      }

      .twocol-section {
        display: flex;
        flex-wrap: wrap;
        gap: space(4);
        align-items: center;

        .text-content {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          gap: space(4);
          flex-basis: 250px;

          .field--name-field-title {
            h2 {
              @include ibm-plex-mono(37px, 700);
              color: $primary-900;
              margin: 0;

              @include med(sm) {
                @include ibm-plex-mono(21px, 700);
              }
            }
          }

          .field--name-field-text {
            @include ibm-plex-sans(19px, 400);

            @include med(sm) {
              @include ibm-plex-sans(14px, 400);
            }
          }

          .field--name-field-link {
            margin-top: space(6);

            @include med(sm) {
              margin-top: space(1);
            }
          }
        }

        .image-content {
          flex-grow: 1;
          flex-basis: 250px;

          @include med(lg) {
            max-width: 100%;
            margin-top: -110px;
            margin-bottom: 0;
          }

          @include med(md) {
            margin-top: -90px;
          }

          .field--name-field-media-image {
            @include med(lg) {
              display: flex;
              justify-content: center;
            }

            img {
              @include med(md) {
                height: auto;
                max-width: 350px;
              }
            }
          }
        }
      }
    }
  }
