.paragraph--type--download {
  @media print {
    break-inside: avoid;
  }

  .field--name-field-download {
    display: flex;
    flex-direction: column;
    gap: space(2.5);

    .field__label {
      @include ibm-plex-mono(24px, 700);

      @include med(sm) {
        @include ibm-plex-mono(21px, 700);
      }
    }

    > .field__items {
      display: flex;
      flex-direction: column;
      gap: space(2.5);

      > .field__item {
        padding: space(5);
        background-color: $neutral-200;

        @include med(sm) {
          padding: space(3);
        }

        @media print {
          padding: 0;
        }

        article {
          .layout--twocol-section {
            flex-wrap: nowrap;

            @include med(sm) {
              flex-direction: column;
              gap: space(2.5);
            }

            .layout__region--first {
              display: flex;
              align-items: center;
            }

            .layout__region--second {
              display: flex;
              justify-content: end;

              @include med(sm) {
                justify-content: start;
              }
            }
          }

          .field--name-name {
            @include ibm-plex-sans(17px, 700);

            @include med(sm) {
              @include ibm-plex-sans(14px, 700);
            }
          }

          .field--name-field-media-document,
          .field--name-field-media-image, {
            a {
              @include secondary-button;
            }
          }
        }
      }
    }
  }
}
