.paragraph--type--focus-teaser,
.paragraph--type--further-topics {
  .layout--twocol-section {
    flex-wrap: nowrap;
    gap: space(20);
    padding: space(16);

    @include med(xl) {
      gap: space(10);
      padding: space(8);
    }

    @include med(lg) {
      flex-direction: column;
      gap: space(5);
    }

    @include med(sm) {
      padding: space(5) 0;
    }

    .layout__region--first {
      display: flex;
      flex-direction: column;
      gap: space(4);

      .field--name-field-title {
        h2 {
          @include ibm-plex-mono(37px, 700);
          margin: 0;
          color: $primary-900;

          @include med(sm) {
            @include ibm-plex-mono(24px, 700);
          }
        }
      }

      .field--name-field-text {
        @include ibm-plex-sans(19px, 400);

        @include med(sm) {
          @include ibm-plex-sans(14px, 400);
        }
      }
    }

    .layout__region--second {
      .field--name-field-links,
      .field--name-field-further-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: space(5);

        @include med(md) {
          grid-template-columns: 1fr;
          gap: space(2.5);
        }

        .field__item {
          a {
            @include ibm-plex-mono(21px, 500);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-height: 70px;
            padding: space(2);
            background-color: $primary-900;
            color: $white;
            text-decoration: none;
            text-align: center;

            @include med(sm) {
              @include ibm-plex-mono(17px, 500);
              min-height: 45px;
              padding: space(2.5);
            }
          }
        }
      }
    }
  }
}
