.paragraph--type--image-video {
  @media print {
    break-inside: avoid;
  }

  .field--name-field-image-video {
    article {
      display: flex;
      flex-direction: column;
      gap: space(1);

      img,
      video {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .field--name-field-caption {
    @include ibm-plex-sans(14px, 400);

    @include med(sm) {
      @include ibm-plex-sans(12px, 400);
    }
  }
}
