.paragraph--type--info-box {
  display: flex;
  flex-direction: column;
  gap: space(4);
  padding: space(10);
  background-color: $green-100;

  @include med(sm) {
    padding: space(5);
  }

  @media print {
    break-inside: avoid;
    padding: 0;
  }

  .field--name-field-box-title {
    @include ibm-plex-mono(24px, 700);

    @include med(sm) {
      @include ibm-plex-mono(17px, 700);
    }
  }

  .field--name-field-box-text {
    @include ibm-plex-mono(19px, 700);

    @include med(sm) {
      @include ibm-plex-mono(14px, 600);
    }
  }

  .field--name-field-link {
    a {
      @include secondary-button;
    }
  }
}
