.paragraph--type--intro-frontpage {
  .layout--twocol-section {
    flex-wrap: nowrap;
    gap: space(10);
    padding: space(16);
    margin-top: 10px;
    background-color: $neutral-200;
    align-items: center;

    @include med(xl) {
      padding: space(8);
    }

    @include med(sm) {
      padding: space(5);
    }

    .layout__region--first {
      display: flex;
      flex-direction: column;
      gap: space(4);

      .field--name-field-title {
        h1 {
          @include ibm-plex-mono(45px, 700);
          margin: 0;
          color: $primary-900;

          @include med(md) {
            @include ibm-plex-mono(32px, 700);
          }

          @include med(sm) {
            @include ibm-plex-mono(24px, 700);
          }
        }
      }

      .field--name-field-text {
        @include ibm-plex-sans(19px, 400);

        @include med(sm) {
          @include ibm-plex-sans(14px, 400);
        }
      }

      #homepage-search-ui-root {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 750px;
        height: 60px;
        margin-top: space(3);
      }
    }

    .layout__region--second {
      margin-top: -75px;
      margin-bottom: -75px;
      margin-right: -75px;

      @include med(sm) {
        display: none;
      }

      .field--name-field-media-image {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
          max-height: 400px;
          object-fit: contain;

          @include med(lg) {
            max-height: 300px;
          }

          @include med(md) {
            max-height: 200px;
          }
        }
      }
    }
  }
}
