.paragraph--type--map {
  display: flex;
  flex-direction: column;
  gap: space(1);

  @media print {
    break-inside: avoid;
  }

  .field--name-field-geo-location {
    border: 1px solid $neutral-700;
  }

  .field--name-field-caption {
    @include ibm-plex-sans(14px, 400);

    @include med(sm) {
      @include ibm-plex-sans(12px, 400);
    }
  }
}
