.paragraph--type--quote {
  display: flex;
  flex-direction: column;
  gap: space(2.5);
  padding: space(10);
  border-left: 4px solid $green-500;

  @include med(sm) {
    padding: space(7);
  }

  @media print {
    break-inside: avoid;
  }

  .field--name-field-quote {
    blockquote {
      margin: 0;
      @include ibm-plex-sans(19px, 500, italic);

      @include med(sm) {
        @include ibm-plex-sans(16px, 500, italic);
      }
    }
  }

  .field--name-field-qoute-author {
    @include ibm-plex-mono(19px, 700);
    align-self: flex-end;

    @include med(sm) {
      @include ibm-plex-mono(17px, 700);
    }
  }
}
