.paragraph--type--teaser {
  &.paragraph--view-mode--default {
    padding: space(16);
    margin-bottom: 100px;
    background-color: $green-100;

    @include med(xl) {
      padding: space(8);
    }

    @include med(lg) {
      margin-top: 40px;
      margin-bottom: 0;
    }

    @include med(sm) {
      padding: space(5);
      margin-top: 80px;
      margin-left: -20px;
      margin-right: -20px;
    }

    .layout--twocol-section {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: space(4);

      @include med(lg) {
        flex-direction: column-reverse;
      }

      .layout__region--first {
        display: flex;
        flex-direction: column;
        gap: space(4);

        .field--name-field-title {
          h2 {
            @include ibm-plex-mono(37px, 700);
            color: $primary-900;
            margin: 0;

            @include med(sm) {
              @include ibm-plex-mono(21px, 700);
            }
          }
        }

        .field--name-field-text {
          @include ibm-plex-sans(19px, 400);

          @include med(sm) {
            @include ibm-plex-sans(14px, 400);
          }
        }

        .field--name-field-link {
          margin-top: space(6);

          @include med(sm) {
            margin-top: space(1);
          }

          a {
            @include primary-button;
          }
        }
      }

      .layout__region--second {
        max-width: 550px;
        margin-bottom: -100px;

        @include med(lg) {
          max-width: 100%;
          margin-top: -110px;
          margin-bottom: 0;
        }

        @include med(md) {
          margin-top: -90px;
        }

        .field--name-field-media-image {
          @include med(lg) {
            display: flex;
            justify-content: center;
          }

          img {
            @include med(md) {
              height: auto;
              max-width: 350px;
            }
          }
        }
      }
    }
  }

  &.paragraph--view-mode--teaser-small {
    a {
      display: flex;
      flex-direction: column;
      gap: space(2.5);
      text-decoration: none;

      .field--name-field-image {
        img {
          height: 200px;
        }
      }
    }
  }
}
