.paragraph--type--teaser-row {
  padding: space(2) space(16) space(16);

  @include med(xl) {
    padding: space(2) space(8) space(8);
  }

  @include med(sm) {
    padding: space(2) 0 space(8);
  }

  .field--name-field-teasers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: space(10);

    @include med(xl) {
      grid-template-columns: 1fr 1fr;
      gap: space(5);
    }

    .field__item {
      .paragraph--type--teaser {
        &.paragraph--view-mode--teaser-small {
          a {
            display: flex;
            flex-direction: column;
            gap: space(2.5);

            .field--name-field-media-image {
              min-height: 210px;

              img {
                width: 100%;
              }
            }

            .field--name-field-title {
              h2 {
                @include ibm-plex-mono(21px, 700);
                margin: 0;

                @include med(sm) {
                  @include ibm-plex-mono(19px, 700);
                }
              }
            }

            .field--name-field-text {
              @include ibm-plex-sans(17px, 400);

              @include med(sm) {
                @include ibm-plex-sans(14px, 400);
              }
            }
          }
        }
      }
    }
  }
}
