.paragraph--type--text {
  p {
    margin-bottom: space(2.5);
    @include ibm-plex-sans(19px, 400);

    @include med(sm) {
      @include ibm-plex-sans(14px, 400);
    }
  }

  a {
    color: $secondary-800;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: space(3);
    padding-left: space(3);
    margin-top: 0;
    list-style: none;

    li {
      &:before {
        content: "•";
        font-size: 16px;
        padding-right: 10px;
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: space(3);
    padding-left: space(7.5);
    margin-top: 0;
  }

  table {
    display: flow;
    border-collapse: collapse;
    overflow: auto;
    max-height: 100vh;

    caption {
      @include ibm-plex-mono(24px, 700);
      text-align: left;
      margin-bottom: space(4);

      @include med(sm) {
        @include ibm-plex-mono(21px, 700);
      }
    }

    th,
    td {
      @include ibm-plex-sans(17px, 400);
      padding: space(5);
      vertical-align: center;
      border: 1px solid $neutral-400;

      @include med(sm) {
        @include ibm-plex-sans(14px, 400);
        padding: space(2.5);
      }
    }

    th {
      @include ibm-plex-sans(17px, 700);
      background-color: $neutral-200;

      @include med(sm) {
        @include ibm-plex-sans(14px, 700);
      }
    }
  }

  .sources {
    @include ibm-plex-sans(17px, 400);

    @include med(sm) {
      @include ibm-plex-sans(14px, 400);
    }

    a {
      color: $black;
    }
  }
}
