.paragraph--type--text-image {
  display: flex;
  gap: space(10);

  @include med(md) {
    flex-direction: column;
    gap: space(5);
  }

  @media print {
    flex-direction: column;
    gap: space(5);
  }

  &.image_right {
    @include med(md) {
      flex-flow: column-reverse;
    }

    @media print {
      flex-flow: column-reverse;
      gap: space(5);
    }
  }

  .field--name-field-title {
    h3 {
      @include ibm-plex-mono(21px, 700);
      margin: 0 0 space(2.5) 0;
    }
  }

  .field--name-field-caption {
    @include ibm-plex-sans(14px, 400);

    @include med(sm) {
      @include ibm-plex-sans(12px, 400);
    }
  }
}
