article {
  &.node {
    &.node--view-mode-full {
      > .node__content {
        > .layout--twocol-section {
          display: flex;
          gap: space(20);
          flex-wrap: nowrap;
          margin-bottom: space(20);

          @include med(xl) {
            gap: space(10);
          }

          @include med(lg) {
            flex-direction: column;
            margin-bottom: space(8);
          }

          > .layout__region {
            &.layout__region--first {
              flex: 1;
              min-width: 0;
              padding-bottom: space(8);
              border-bottom: 1px solid $neutral-600;
              position: relative;

              .block-field-blocknodearticletitle {
                h1 {
                  margin: space(4) 0;
                  color: $black;
                }
              }

              .block-field-blocknodepagetitle {
                h1 {
                  margin-top: 0;
                  color: $black;
                }
              }

              .block-field-blocknodearticlebody {
                .field--name-body {
                  @include ibm-plex-mono(19px, 700);

                  @include med(sm) {
                    @include ibm-plex-mono(17px, 700);
                  }
                }
              }

              .block-field-blocknodepagebody {
                .field--name-body {
                  @include ibm-plex-sans(19px, 400);

                  @include med(sm) {
                    @include ibm-plex-sans(17px, 400);
                  }
                }
              }

              .block-field-blocknodearticlefield-content,
              .block-field-blocknodepagefield-content {
                @include ibm-plex-sans(19px, 400);
                line-height: 138%;
                margin-top: space(8);

                @include med(sm) {
                  @include ibm-plex-sans(14px, 400);
                }

                .field--name-field-content {
                  display: flex;
                  flex-direction: column;
                  gap: space(8);

                  h2 {
                    margin: 0 0 space(2.5);
                  }

                  .cboxElement {
                    position: relative;

                    &:before {
                      content: url("/themes/custom/umweltinfo/src/assets/images/maximize-2.svg");
                      position: absolute;
                      bottom: 0;
                      right: 0;
                      background-color: $white;
                      padding: 8px;
                    }
                  }
                }
              }

              .block-views-blocknode-author-block-1 {
                display: none;

                @media print {
                  display: block;
                  margin-bottom: space(4);

                  .view-id-node_author {
                    .view-header {
                      display: none;
                    }
                  }
                }
              }
            }

            &.layout__region--second {
              display: flex;
              flex-direction: column;
              gap: space(5);
              min-width: 360px;
              will-change: min-height;

              @include med(sm) {
                min-width: 100%;
              }

              @media print {
                display: none;
              }

              .inner-wrapper-sticky {
                display: flex;
                flex-direction: column;
                gap: space(8);
                transform: translate(0, 0); /* For browsers that don't support translate3d. */
                transform: translate3d(0, 0, 0);
                will-change: position, transform;
              }

              .inner-wrapper-sticky > .block,
              > .block {
                display: flex;
                flex-direction: column;
                gap: space(5);
                padding-top: space(8);
                border-top: 1px solid $neutral-600;

                &:first-child {
                  padding-top: 0;
                  border-top: none;
                }

                &:last-child {
                  padding-bottom: space(8);
                  border-bottom: 1px solid $neutral-600;
                }

                .field__label {
                  @include ibm-plex-mono(15px, 700);
                  color: $neutral-700;
                }

                &.block-field-blocknodearticlefield-doi {
                  .field--name-field-doi {
                    display: flex;
                    flex-direction: column;
                    gap: space(5);

                    .field__item {
                      a {
                        @include ibm-plex-sans(17px, 400);
                      }
                    }
                  }
                }

                &.block-views-blockrelated-articles-related-articles-sidebar {
                  .view-content {
                    display: flex;
                    flex-direction: column;
                    gap: space(5);

                    a {
                      @include ibm-plex-sans(17px, 400);
                    }
                  }
                }

                &.block-field-blocknodearticlefield-tags {
                  .field--name-field-tags {
                    display: flex;
                    flex-direction: column;
                    gap: space(5);

                    > .field__items {
                      display: flex;
                      gap: space(2.5);
                      flex-wrap: wrap;

                      .field__item {
                        a {
                          @include ibm-plex-mono(14px, 400);
                          padding: space(1) space(2.5);
                          border: 1px solid $neutral-300;
                          background-color: $neutral-200;
                          text-decoration: none;
                        }
                      }
                    }
                  }
                }

                &.block-field-blocknodepagefield-sidebar {
                  @include ibm-plex-sans(17px, 400);
                  color: $neutral-800;
                }
              }
            }
          }
        }

        .view-id-node_author {
          display: flex;
          flex-direction: column;
          gap: space(5);

          .views-row {
            display: flex;
            gap: space(4);

            .views-field-user-picture {
              max-width: 50px;

              img {
                border-radius: 50%;
              }
            }

            .author-info-wrapper {
              line-height: 138%;

              .author-name {
                @include ibm-plex-mono(17px, 700);
              }

              .author-institution {
                @include ibm-plex-mono(17px, 400);
              }
            }
          }
        }

        > .field--name-field-content {
          display: flex;
          flex-direction: column;
          gap: space(12);

          @include med(xl) {
            gap: space(10);
          }

          @include med(lg) {
            margin-bottom: space(2.5);
          }
        }

        .config_pages--type--feeback-form {
          position: absolute;
          bottom: 50px;
          left: 250px;
          border: 1px solid $neutral-300;
          font-size: 14px;

          a {
            display: block;
            text-decoration: none;
            padding: space(2.5) space(3.5) space(2.5) space(10);
            &:before {
              content: url(../src/assets/images/write-us.svg);
              position: absolute;
              left: 10px;
              top: 7px;
            }
          }

          @include med(sm) {
            position: relative;
            left: auto;
            bottom: auto;
          }

          @media print {
            display: none;
          }
        }
      }
    }
  }
}

.user-logged-in {
  .config_pages--type--feeback-form {
    bottom: 18px !important;
  }
}
