#colorbox {
  border-radius: 0;
  background: #fff;

  #cboxWrapper {
    border-radius: 0;
  }

  #cboxTitle {
    @include ibm-plex-sans(17px, 400);
    color: $black;

    @include med(sm) {
      @include ibm-plex-sans(14px, 400);
    }
  }

  #cboxClose {
    width: 40px;
    height: 40px;
    top: -40px;
    right: 0;
    background: #fff url("/themes/custom/umweltinfo/src/assets/images/x.svg") no-repeat center;

    @include med(sm) {
      width: 30px;
      height: 30px;
      top: -30px;
    }
  }
}

#cboxOverlay {
  background-color: $lightbox-background;
}
