.info-box {
  position: relative;
  width: 154px;

  .modal-trigger {
    @include ibm-plex-mono(14px, 600);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: space(2.5) space(3.5) space(2.5) space(5);
    border: 1px solid $neutral-300;
    background-color: $neutral-200;
    color: $neutral-700;
    cursor: pointer;

    &:after {
      content: url("/themes/custom/umweltinfo/src/assets/images/info.svg");
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  .info-modal {
    @include ibm-plex-mono(17px, 400);
    display: none;
    position: absolute;
    width: max-content;
    right: 0;
    background-color: #fff;
    z-index: 2;
    padding: space(16) space(20);
    border: 1px solid $neutral-600;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.16), 0 0 0 10000vmax rgba(20, 17, 52, 0.25);

    @include med(lg) {
      left: 0;
    }

    @include med(sm) {
      padding: space(4) space(5);
    }

    @include med(sm) {
      @include ibm-plex-mono(14px, 400);
      padding: space(4) space(5);
    }

    &.show {
      display: block;
    }

    .modal-close-trigger {
      background: #fff url("/themes/custom/umweltinfo/src/assets/images/x.svg") no-repeat center;
      position: absolute;
      top: 0;
      right: 0;
      width: 64px;
      height: 64px;
      cursor: pointer;

      @include med(sm) {
        width: 50px;
        height: 50px;
      }
    }

    h3 {
      @include ibm-plex-mono(19px, 500);
      margin: 0 0 space(8) 0;

      @include med(sm) {
        @include ibm-plex-mono(16px, 500);
        margin: 0 0 space(4) 0;
      }
    }

    .date {
      margin-bottom: space(4);

      @include med(sm) {
        display: flex;
        flex-direction: column;
      }
    }

    #statistics > canvas {
      margin-top: space(4);
    }
  }
}
