.sitemap {
  .view-header {
    padding: space(5) space(0);
    border-top: 1px solid $neutral-600;
    cursor: pointer;
    position: relative;

    &:after {
      content: url("../src/assets/images/accordeon.svg");
      position: absolute;
      right: 0;
      top: 20px;
    }

    &.closed {
      &:after {
        transform: rotate(180deg);
      }
    }

    h2 {
      @include ibm-plex-mono(17px, 700);
      line-height: 25px;
      color: $neutral-800;
      margin: 0;
    }
  }
  .view-content {
    max-height: 100%;
    overflow: hidden;
    color: $neutral-700;
    @include ibm-plex-sans(17px, 400);
    line-height: 25px;

    h3 {
      @include ibm-plex-sans(17px, 700);
      line-height: 25px;
      color: $neutral-700;
      margin: 0;
      a {
        text-decoration: none;
        color: $neutral-700;
      }
    }

    .item-list {
      margin-left: space(2);
    }
  }
}



