.node--view-mode-teaser,
.article-teaser {
  a {
    text-decoration: none;
  }

  .field--name-field-teaser-image,
  .image {
    margin-bottom: space(5);

    img {
      width: 100%;
      height: auto;
      max-height: 200px;

      @include med(xl) {
        max-height: 100%;
      }
    }
  }

  .field--name-created,
  .created {
    @include ibm-plex-mono(14px, 600);
    color: $neutral-700;

    @include med(sm) {
      @include ibm-plex-mono(12px, 700);
    }
  }

  .block-field-blockuseruserfield-name-frontend,
  .author-name {
    @include ibm-plex-mono(14px, 600);
    display: flex;
    gap: space(1);
    color: $neutral-700;

    @include med(sm) {
      @include ibm-plex-mono(12px, 700);
    }

    .field__label {
      font-weight: 600;
    }
  }

  .field--name-title,
  .title {
    h3 {
      @include ibm-plex-mono(21px, 700);
      margin: space(2.5) 0;
      word-break: break-word;

      @include med(sm) {
        @include ibm-plex-mono(19px, 700);
      }
    }
  }

  .field--name-body,
  .teaser-text {
    @include ibm-plex-sans(17px, 400);

    @include med(sm) {
      @include ibm-plex-sans(14px, 400);
    }
  }
}
