{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class,
  ]
%}
{% if not logged_in %}
{{ attach_library('umweltinfo_statistics/measure') }}
{% endif %}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {% if view_mode == 'link_to_search' %}
    <a href="/suche?topics={{ full_path|url_encode }}">{{ term_name }}</a>
  {% else %}
    {{ title_prefix }}
    {% if name and not page %}
      <h2><a href="{{ url }}">{{ name }}</a></h2>
    {% endif %}
    {{ title_suffix }}
    <div class="content">
      {{ content }}
    </div>
  {% endif %}
</div>
