{% set accordion_id = 'accordion-' ~ paragraph.id.value %}

<div class="accordion">
  <button id="{{ accordion_id }}-button" class="accordion-button" aria-expanded="false" aria-controls="{{ accordion_id }}-content">
    {{ content.field_accordion_title }}
  </button>
  <div id="{{ accordion_id }}-content" class="accordion-content" role="region" aria-labelledby="{{ accordion_id }}-button" hidden>
    {{ content.field_text }}
  </div>
</div>