<div class="dashboard-block__container">
  <div class="dashboard-block__content">
    <div class="dashboard-block__title">{{ title }}</div>
    <div class="dashboard-block__description">{{ description }}</div>
    <div class="dashboard-block__chart-container">
      <div class="dashboard-block__chart">
        <canvas id="dashboard-block-chart-datasets"></canvas>
      </div>
      <div class="dashboard-block__chart">
        <canvas id="dashboard-block-chart-sources"></canvas>
      </div>
      <div class="dashboard-block__chart">
        <canvas id="dashboard-block-chart-providers"></canvas>
      </div>
    </div>
  </div>
</div>
