{% if topics is not empty %}
  <div class="taxonomy-term-topics__container">
    <div class="taxonomy-term-topics__content">
      <div class="taxonomy-term-topics__headline">{{ headline }}</div>
      <div class="taxonomy-term-topics__items">
        {% for topic in topics %}
          <div class="taxonomy-term-topics__item">
            <a href="/suche?topics={{ topic.path|url_encode }}">{{ topic.label }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
