{% if (not theme_items is empty) or (not random_item is empty) %}
  <div class="top-5-block__container">
    {% if (not theme_items is empty) %}
      <div class="top-5-block__content-container top-5-block__themes">
        <h2 class="top-5-block__title">{{ themes_title }}</h2>
        <div class="top-5-block__items">
          {% for theme in theme_items %}
            <div class="top-5-block__item">
              <div class="list-marker">{{ loop.index }}</div>
              <a title="Suche mit diesem Schlagwort starten" href="{{ theme.url }}">{{ theme.label }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if (not random_item is empty) %}
    <div class="top-5-block__content-container top-5-block__content">
      <h2 class="top-5-block__title">{{ random_title }}</h2>
      <div class="top-5-block__item">
        <a title="zur Detailansicht" href={{ random_item.url }}>
          <div class="top-5-block__item-title">
            <h3>{{ random_item.title }}</h3>
          </div>
          {% if (not random_item.description is empty) %}
          <div class="top-5-block__item-description">
            <p>{{ random_item.description }}</p>
          </div>
          {% endif %}
          {% if (not random_item.origins is empty) %}
          <p class="top-5-block__item-origin">Herkunft: {{ random_item.origins[0] }}</p>
          {% endif %}
        </a>
        {% if (not random_item.tags is empty) %}
        <p class="top-5-block__item-tag-title">Schlagwörter in diesem Ergebnis:</p>
        <div class="top-5-block__item-tags">
          {% for tag in random_item.tags|slice(start, 5) %}
            {% if tag.Other is defined %}
              {% set label = tag.Other %}
            {% else %}
              {% set label = tag.Umthes.label %}
                <a title="Suche mit diesem Schlagwort starten" class="top-5-block__tag" href="{{ '/suche?tags=' ~ label }}">{{ label }}</a>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  </div>
{% endif %}
