.region-header {
  .menu--header-submenu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
    background-color: $primary-900;

    @media print {
      display: none;
    }

    @include med(lg) {
      display: none;
    }

    ul {
      @include centered-container($xxl);

      &.menu {
        display: flex;
        justify-content: flex-end;
        gap: space(10);
        min-height: 47px;
        padding-top: space(2.5);
        padding-bottom: space(2.5);

        @include med(sm) {
          gap: space(5);
        }

        .menu-item {
          align-self: center;
          padding: 0;

          a {
            @include ibm-plex-mono(14px, 600);
            color: $white;
            display: flex;
            gap: space(2.5);
            align-items: center;
            text-decoration: none;

            &.leichte-sprache,
            &.gebaerdensprache {
              @include med(md) {
                gap: 0;
                line-height: 0;
                font-size: 0;
                color: transparent;
              }

              &:before {
                content: url("/themes/custom/umweltinfo/src/assets/images/union.svg");
                display: block;
              }
            }

            &.gebaerdensprache {
              &:before {
                content: url("/themes/custom/umweltinfo/src/assets/images/hands.svg");
              }
            }
          }
        }
      }
    }
  }

  .block-system-branding-block {
    @include centered-container($xxl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin-top: 47px;

    @include med(md) {
      margin-top: 42px;
    }

    @include med(sm) {
      background-color: $white;
      height: 80px;
      padding-top: space(2);
      padding-bottom:  space(2.5);
      border-bottom: 1px solid $neutral-300;
    }

    .site-logo {
      img {
        @include med(sm) {
          max-width: 127px;
        }
      }
    }

    .sidebar-menu-toggle {
      width: space(10);
      height: space(10);
      background-color: $secondary-300;
      border: 1px solid $secondary-400;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media print {
        display: none;
      }

      @include med(lg)  {
        display:flex;
      }
    }
  }

  .navigation.menu--main {
    @include centered-container($xxl);
    margin-top: space(5);
    margin-bottom: space(5);

    @include med(lg) {
      display: none;
    }

    @media print {
      display: none;
    }

    > ul {
      display: flex;
      gap: space(5);
      margin: 0;

      @include med(xl) {
        gap: space(3);
      }

      li {
        @include menu-nav-item;
        position: relative;
        flex-grow: 1;
        text-align: center;

        &.menu-item--has-submenu {
          > a {
            display: flex;
            justify-content: space-between;

            &:after {
              content: url("/themes/custom/umweltinfo/src/assets/images/chevron-down.svg");
              display: block;
              width: 24px;
              height: 24px;
            }
          }
        }

        &.sub-menu--visible {
          > a {
            &:after {
              content: url("/themes/custom/umweltinfo/src/assets/images/chevron-up-white.svg");
            }
          }

          > ul {
            &.menu-level-1 {
              display: flex;
              box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.16), 0 0 0 10000vmax rgba(20, 17, 52, 0.25);

              &.align-right {
                right: 0;
              }
            }

            &.menu-level-2 {
              display: flex;

              &.align-right {
                right: 0;
              }
            }
          }
        }

        a {
          height: 100%;
          text-decoration: none;
        }


        > ul {
          &.menu-level-1 {
            position: absolute;
            display: none;
            flex-direction: column;
            gap: space(2.5);
            z-index: 6;
            width: max-content;
            max-width: 700px;
            margin: 10px 0 0 0;
            padding: space(8);
            background-color: $neutral-200;

            > li {
              background-color: $white;
              text-align: left;

              > a {
                color: $primary-900;
              }
            }

            > li.is-active {
              background-color: $primary-900;
              border-color: $neutral-400;

              > a {
                color: $white;
              }
            }
          }

          &.menu-level-2 {
            display: none;
            flex-direction: column;
            gap: space(2.5);
            width: max-content;
            max-width: 700px;
            margin: 10px 0 0 0;
            padding: space(4);
            background-color: $neutral-200;

            > li {
              background-color: $secondary-300;
              text-align: left;

              > a {
                color: $primary-900;
              }
            }
          }
        }
      }
    }
  }

  .navigation.menu--sidebar-menu {
    display: none;
    position: fixed;
    z-index: 6;
    height: 100vh;
    width: 400px;
    right: -400px;
    padding: space(32) space(20) space(10) space(8);
    background-color: $neutral-200;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include med(xl) {
      padding-right: space(10);
    }

    @include med(lg) {
      padding-right: space(5);
    }

    @include med(sm) {
      padding: space(20) space(5) space(10) space(5);
    }

    &.visible {
      display: block;
      right: 0;
      box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.16), 0 0 0 10000vmax rgba(20, 17, 52, 0.25);

      .sidebar-menu-close-trigger {
        display: block;
      }
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: space(2.5);
      margin: 0 0 space(2.5);

      &:last-child {
        margin-bottom: space(10);
      }

      &.menu-level-0 {
        display: none;

        @include med(lg) {
          display: flex;
        }
      }

      li {
        @include menu-nav-item;
        min-width: 250px;
        background-color: $white;

        &.menu-item--has-submenu {
          > a {
            display: flex;
            justify-content: space-between;

            &:after {
              content: url("/themes/custom/umweltinfo/src/assets/images/chevron-down.svg");
              display: block;
              width: 24px;
              height: 24px;
            }
          }
        }

        &.sub-menu--visible {
          > a {
            &:after {
              content: url("/themes/custom/umweltinfo/src/assets/images/chevron-up-white.svg");
            }
          }

          > ul {
            &.menu-level-1 {
              display: flex;

              &.align-right {
                right: 0;
              }
            }

            &.menu-level-2 {
              display: flex;

              &.align-right {
                right: 0;
              }
            }
          }
        }

        &.is-active {
          border: none;
        }

        a {
          color: $primary-900;
          text-decoration: none;

          @include med(xl) {
            padding: space(2.5) space(5);
          }
        }
      }
    }

    ul {
      &.menu-level-1 {
        position: relative;
        display: none;
        flex-direction: column;
        gap: space(2.5);
        z-index: 6;
        max-width: 700px;
        margin: 0;
        padding: space(2.5) 0 space(2.5) space(5);
        background-color: $neutral-200;

        li {
          background-color: $white;
          text-align: left;

          > a {
            color: $primary-900;
          }
        }

        li.is-active {
          background-color: $primary-900;
          border-color: $neutral-600;

          > a {
            color: $white;
          }
        }
      }

      &.menu-level-2 {
        position: relative;
        display: none;
        flex-direction: column;
        gap: space(2.5);
        z-index: 6;
        max-width: 700px;
        margin: 0;
        padding: space(2.5) 0 space(2.5) space(5);
        background-color: $neutral-200;

        li {
          background-color: $secondary-400;
          text-align: left;

          a {
            color: $primary-900;
          }
        }
      }
    }

    .sidebar-menu-close-trigger {
      display: none;
      position: absolute;
      right: 80px;
      top: 35px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: $primary-900 url("/themes/custom/umweltinfo/src/assets/images/x-white.svg") no-repeat center;

      @include med(xl) {
        right: 40px;
      }

      @include med(lg) {
        right: 20px;
      }

      @include med(sm) {
        top: 18px;
      }
    }
  }
}
