/* ibm-plex-mono-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-100.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-100.ttf') format('truetype');
}
/* ibm-plex-mono-100italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 100;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-100italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-100italic.ttf') format('truetype');
}
/* ibm-plex-mono-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 200;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-200.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-200.ttf') format('truetype');
}
/* ibm-plex-mono-200italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 200;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-200italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-200italic.ttf') format('truetype');
}
/* ibm-plex-mono-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-300.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-300.ttf') format('truetype');
}
/* ibm-plex-mono-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-300italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-300italic.ttf') format('truetype');
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-regular.ttf') format('truetype');
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-italic.ttf') format('truetype');
}
/* ibm-plex-mono-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-500.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-500.ttf') format('truetype');
}
/* ibm-plex-mono-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-500italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-500italic.ttf') format('truetype');
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-600.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-600.ttf') format('truetype');
}
/* ibm-plex-mono-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-600italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-600italic.ttf') format('truetype');
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-700.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-700.ttf') format('truetype');
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../src/assets/fonts/ibm-plex-mono-v19-latin-700italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-mono-v19-latin-700italic.ttf') format('truetype');
}

@mixin ibm-plex-mono($size, $weight, $style: normal, $line-height: 138%) {
  font-family: "IBM Plex Mono", monospace;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $line-height;

  @include med(xxl, min) {
    font-size: calc(#{$size} + 2px);
  }
}

/* ibm-plex-sans-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-100.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-100.ttf') format('truetype');
}
/* ibm-plex-sans-100italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-100italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-100italic.ttf') format('truetype');
}
/* ibm-plex-sans-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-200.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-200.ttf') format('truetype');
}
/* ibm-plex-sans-200italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-200italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-200italic.ttf') format('truetype');
}
/* ibm-plex-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-300.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-300.ttf') format('truetype');
}
/* ibm-plex-sans-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-300italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-300italic.ttf') format('truetype');
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-regular.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-regular.ttf') format('truetype');
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-italic.ttf') format('truetype');
}
/* ibm-plex-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-500.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-500.ttf') format('truetype');
}
/* ibm-plex-sans-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-500italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-500italic.ttf') format('truetype');
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-600.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-600.ttf') format('truetype');
}
/* ibm-plex-sans-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-600italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-600italic.ttf') format('truetype');
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-700.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-700.ttf') format('truetype');
}
/* ibm-plex-sans-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../src/assets/fonts/ibm-plex-sans-v19-latin-700italic.woff2') format('woff2'),
       url('../src/assets/fonts/ibm-plex-sans-v19-latin-700italic.ttf') format('truetype');
}

@mixin ibm-plex-sans($size, $weight, $style: normal, $line-height: 138%) {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $line-height;

  @include med(xxl, min) {
    font-size: calc(#{$size} + 2px);
  }
}
