@mixin med($width: md, $type: max) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);

    @if $type == min {
      $width: $width;
    }

    @if $type == max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin centered-container($max-width) {
  max-width: $max-width;
  padding: 0 space(20);
  margin: 0 auto;

  @include med(xl) {
    padding: 0 space(10);
  }

  @include med(lg) {
    padding: 0 space(5);
  }
}

@mixin menu-nav-item {
  background-color: $secondary-300;
  border: 1px solid $neutral-300;
  padding: 0;

  &.is-active {
    background-color: $primary-900;
    border: 1px solid $primary-900;

    a {
      color: $white;
      background-color: transparent;
    }
  }

  a {
    @include ibm-plex-mono(17px, 500);
    display: block;
    padding: space(2.5) space(5);
    color: $black;

    &:hover {
      background-color: transparent;
    }

    @include med(xl) {
      padding: space(2.5) space(2.5);
    }
  }
}

@mixin primary-button {
  @include ibm-plex-mono(19px, 700);
  color: $white;
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: space(3) space(7);
  background-color: $secondary-800;
  border: none;

  @include med(sm) {
    @include ibm-plex-mono(14px, 600);
  }
}

@mixin secondary-button {
  @include ibm-plex-mono(14px, 600);
  color: $neutral-700;
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: space(2.5) space(5);
  background-color: $white;
  border: 1px solid $neutral-300;

  &:hover {
    background-color: $neutral-200;
  }

}

@mixin brown-button {
  @include ibm-plex-mono(19px, 700);
  color: $white;
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: space(2.5) space(5);
  background-color: $brown-500;
  border: none;

  &:hover {
    background-color: $brown-900;
  }

  @include med(sm) {
    @include ibm-plex-mono(14px, 600);
  }
}
