// Colors
$primary-900: #090066;
$primary-500: #918AE5;
$primary-300: #EDEDFC;
$primary-400: #B5B5F3;
$secondary-800: #0E59A5;
$secondary-500: #62AAF2;
$secondary-400: #BCD1E7;
$secondary-300: #E9F0F7;
$white: #FFFFFF;
$black: #252527;
$negative-200: #FFB2BF;
$push: #00A300;
$neutral-800: #535360;
$neutral-700: #6B6B7B;
$neutral-600: #9F9FAC;
$neutral-400: #BBBBC4;
$neutral-300: #D6D6DB;
$neutral-200: #F0F0F2;
$neutral-100: #FAFAFA;
$brown-900: #663c00;
$brown-500: #cc9951;
$brown-300: #faefe1;
$green-900: #556600;
$green-500: #AACC00;
$green-100: #F7FAE5;
$negative-900: #741515;
$negative-500: #DD4747;
$negative-100: #F9E1E1;
$lightbox-background: rgba(20, 17, 52, 0.95);
$positive-200: #CCFFDC;
$positive-500: #007E28;
$positive-900: #004D18;

// Layout
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1650px;

$grid-breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
) !default;

$base-space: 4px;
@function space($n) {
  @return $n * $base-space;
}
