.block-dashboard-block {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  background-color: $neutral-200;

  .dashboard-block__container {
    @include centered-container($xxl);

    .dashboard-block__content {
      padding: space(16);

      @include med(xl) {
        padding: space(8);
      }

      @include med(sm) {
        padding: space(5) 0;
      }

      .dashboard-block__title {
        @include ibm-plex-mono(37px, 700);
        margin-bottom: space(4);
        color: $primary-900;

        @include med(sm) {
          @include ibm-plex-mono(24px, 700);
        }
      }

      .dashboard-block__description {
        @include ibm-plex-sans(19px, 400);
        margin-bottom: space(10);

        @include med(sm) {
          @include ibm-plex-sans(14px, 400);
          margin-bottom: space(5);
        }
      }

      .dashboard-block__chart-container {
        display: flex;
        flex-direction: column;
        gap: space(6);

        @include med(sm) {
          gap: space(4);
        }

        .dashboard-block__chart {
          position: relative;
          width: 100%;
          height: 400px;
          padding: space(4.5);
          background-color: $white;
          border: 1px solid $neutral-400;
          border-radius: 3px;

          @include med(md) {
            height: 250px;
          }
        }
      }
    }
  }
}
