.block-local-tasks-block {
  margin-bottom: space(5);

  nav {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      display: flex;
      gap: space(5);
      margin: 0;

      li {
        @include menu-nav-item;
        display: block;
      }
    }
  }
}
