.block-rating-block {
  @media print {
    display: none;
  }

  h2 {
    @include ibm-plex-mono(19px, 700);

    @include med(sm) {
      @include ibm-plex-mono(17px, 700);
    }
  }

  .rating-block__container {
    display: flex;
    gap: space(2.5);
    margin: space(5) 0;

    .rating-block_star {
      cursor: pointer;

      &:before {
        content: url("../src/assets/images/star-secondary-800.svg");
      }

      &.hover,
      &.full {
        &:before {
          content: url("../src/assets/images/star-secondary-800-filled.svg");
        }
      }
    }
  }
}
