.path-node,
.path-frontpage {
  .messages {
    border: 1px solid;
    box-shadow: none;
    padding: space(4) space(10);
    @include ibm-plex-sans(17px, 400);
  }
  .messages--status {
    color: $positive-900;
    border-color:$positive-500;
    background-color: $positive-200;
    background-image: url("../src/assets/images/checkmark.svg");


    em {
      font-style: normal;
    }

    a {
      color: $positive-900;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .messages--error {
    color: $negative-900;
    border-color:$negative-500;
    background: $negative-100 url("../src/assets/images/error.svg") no-repeat 10px 15px;

    .messages__item {
      + .messages__item {
        margin-top: space(1);
      }
    }
  }
}

.form-item {
  input,
  textarea,
  select {
    &.error {
      border: 1px solid $negative-500 !important;
      background-color: $negative-100;
    }
    &:focus,
    &:focus-visible {
      outline: none !important;
      border: 1px solid #AACC00!important;
      -webkit-box-shadow: 0px 0px 12px 0px #AACC0059;
      -moz-box-shadow: 0px 0px 12px 0px #AACC0059;
      box-shadow: 0px 0px 12px 0px #AACC0059;

    }
  }
}
