.block-top-5-block {
  .top-5-block__container {
    display: flex;
    gap: 6%;

    @include med(xl) {
      gap: 4%;
    }

    @include med(lg) {
      flex-direction: column;
      gap: space(5);
    }

    .top-5-block__content-container {
      flex-basis: 47%;
      padding: space(16);

      @include med(lg) {
        flex-basis: 100%;
        padding: space(12);
      }

      @include med(sm) {
        padding: space(5);
      }

      &.top-5-block__themes {
        background-color: $secondary-300;
      }

      &.top-5-block__content {
        background-color: $primary-300;

        .top-5-block__item {
          display: flex;
          flex-direction: column;
          gap: space(5);
          text-decoration: none;

          a {
            display: flex;
            flex-direction: column;
            gap: space(5);
            text-decoration: none;

            p.top-5-block__item-origin {
              text-decoration: none;
              @include ibm-plex-sans(16px, 900);
            }
            &:hover {
              > .top-5-block__item-title > h3 {
                text-decoration: none;
              }
            }
          }
          .top-5-block__item-title {
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            > h3 {
                color: $primary-900;
                margin: 0;
                text-decoration: underline;
                @include ibm-plex-mono(26px, 700);
              }
          }

          .top-5-block__item-description {
            line-clamp: 6;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            @include ibm-plex-sans(16px, 400);

            > p {
                text-decoration: none;
              }
          }
        }
        .top-5-block__item-tag-title {
          @include ibm-plex-mono(16px, 700);
          margin-top: space(5)
        }
        .top-5-block__item-tags {
          display: flex;
          flex-direction: row;
          gap: space(3);
          flex-wrap: wrap;
          > a.top-5-block__tag {
            padding: space(1.5) space(3);
            background: $neutral-200;
            border: 1px solid $neutral-300;
            color: $neutral-700;
            @include ibm-plex-mono(14px, 400);
          }
        }

      }

      .top-5-block__title {
        @include ibm-plex-mono(37px, 700);
        margin-bottom: 40px;
        color: $primary-900;
        margin-top: 0;

        @include med(sm) {
          @include ibm-plex-mono(24px, 700);
        }
      }

      .top-5-block__items {
        display: flex;
        flex-direction: column;
        gap: space(8);

        @include med(sm) {
          gap: space(4);
        }

        .top-5-block__item {
          display: flex;
          align-items: center;
          gap: space(5);

          .list-marker {
            @include ibm-plex-mono(21px, 500);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            min-width: 40px;
            color: $black;
            background-color: $neutral-100;
            border: 2px solid $neutral-600;
            border-radius: 27px;
          }

          a {
            @include ibm-plex-sans(21px, 400);
            color: #000;
            text-decoration: none;

            @include med(sm) {
              @include ibm-plex-sans(17px, 400);
            }
          }
        }
      }
    }
  }
}
