footer {
  z-index: 5;

  .region-footer {
    #block-umweltinfo-footer-infoblock {
      background-color: $neutral-200;

      @include med(xl) {
        padding-top: space(10);
        padding-bottom: space(10);
      }

      @include med(lg) {
        padding-top: space(10);
        padding-bottom: space(10);
      }

      .config_pages--type--footer-content {
        @include centered-container($xxl);
        display: flex;
        justify-content: space-between;
        padding-top: space(10);
        padding-bottom: space(10);

        @include med(lg) {
          flex-direction: column;
          gap: space(10);
        }

        @media print {
          break-inside: avoid;
          flex-direction: column;
        }

        .field--name-field-footer-text {
          @include ibm-plex-sans(19px, 400);

          @include med(lg) {
            text-align: center;
          }

          b {
            @include ibm-plex-sans(17px, 700);
          }
        }

        .field--name-field-logos {
          display: flex;
          gap: space(10);
          align-self: center;

          @include med(sm) {
            flex-direction: column;
            align-items: center;
          }

          @media print {
            margin-top: space(10);
          }
        }
      }
    }

    .menu--footer {
      background-color: $primary-900;

      @media print {
        display: none;
      }

      ul {
        @include centered-container($xxl);

        &.menu {
          display: flex;
          justify-content: flex-end;
          gap: space(10);
          padding-top: space(5);
          padding-bottom: space(5);

          @include med(md) {
            flex-direction: column;
            gap: space(5);
          }

          .menu-item {
            align-self: center;
            padding: 0;

            a {
              @include ibm-plex-mono(14px, 600);
              color: $white;
              display: flex;
              gap: space(2.5);
              align-items: center;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
