{#
/**
 * @file
 * Contains icon links.
 */
#}
<link rel="apple-touch-icon" sizes="180x180" href="./themes/custom/umweltinfo/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="./themes/custom/umweltinfo/icons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="./themes/custom/umweltinfo/icons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="./themes/custom/umweltinfo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./themes/custom/umweltinfo/favicon-16x16.png">
<link rel="manifest" href="./themes/custom/umweltinfo/icons/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="./themes/custom/umweltinfo/icons/mstile-150x150.png">
<meta name="theme-color" content="#da532c">
