.view-neuigkeiten {
  display: flex;
  flex-direction: column;
  @include ibm-plex-sans(21px, 400);
  font-size: 21px !important;
  max-width: 80%;

  .view-filters {
    display: flex;
    gap: 12px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0;
    }

    li {
      list-style: none;
    }

    a {
      background-color: #f0f0f2;
      border: 1px solid #d6d6db;
      font-family: IBM Plex Mono, monospace;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 138%;
      padding: 6px 12px;
      text-decoration: none;
    }

    .bef-link--selected {
      background-color: $primary-500;
    }
  }

  .view-content h3 {
    padding-top: 20px;
    border-top: 1px solid $secondary-400 ;
  }

  .view-content .views-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
    margin-top: -20px;


    .views-field-field-tags span {
      background-color: #f0f0f2;
      border: 1px solid #d6d6db;
      font-family: IBM Plex Mono, monospace;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 138%;
      padding: 6px 12px;
      text-decoration: none;

      a {
        pointer-events: none;
        text-decoration: none;
      }
    }

    .datetime {
      font-size: 14px;
      color: $neutral-700;
    }
  }
}