.view-related-articles,
.view-article-overview,
.view-article-overview-taxonomy {
  .view-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: space(5);

    @include med(xl) {
      grid-template-columns: 1fr 1fr;
      gap: space(10);
    }

    @include med(md) {
      grid-template-columns: 1fr;
      gap: space(20);
    }

    > .views-row {
      min-width: 260px;

      @include med(md) {
        &:before {
          content: '';
          display: block;
          position: relative;
          width: 100%;
          height: 1px;
          margin-bottom: space(10);
          margin-top: space(-10);
          background-color: $neutral-600;
        }

        &:first-child {
          margin-top: 0;

          &:before {
            content: none;
          }
        }
      }
    }

    .article-teaser {
      a {
        display: block;
      }

      .title {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: space(3) 0;

        h3 {
          margin: 0;
        }
      }

      .teaser-text {
        display: -webkit-box;
        line-clamp: 6;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .view-empty {
    margin: space(12) 0;
  }

  .view-footer {
    display: flex;
    justify-content: end;
    margin-top: space(8);

    .all-articles {
      @include ibm-plex-mono(14px, 600);
      display: flex;
      align-items: center;
      gap: space(2.5);
      width: fit-content;
      padding: space(2.5) space(5);
      background-color: $secondary-800;
      color: #fff;
      text-decoration: none;
    }
  }

  .pager {
    margin: space(16) 0;

    .pager__items {
      display: flex;
      justify-content: center;

      .pager__item {
        @include ibm-plex-mono(14px, 600);
        padding: 0;
        box-shadow:
          1px 0 0 0 $neutral-600,
          0 1px 0 0 $neutral-600,
          1px 1px 0 0 $neutral-600,
          1px 0 0 0 $neutral-600 inset,
          0 1px 0 0 $neutral-600 inset;

        &.is-active {
          background-color: $secondary-800;

          a {
            color: $white;
          }
        }

        a {
          display: block;
          padding: space(2.5) space(4);
          color: $neutral-600;
          text-decoration: none;
        }
      }

      .pager__item--ellipsis {
        padding: space(2.5) space(4);
        color: $neutral-600;
      }
    }
  }
}

.block-views-blockrelated-articles-related-articles-bottom,
.view-header {
  > h2 {
    @include ibm-plex-mono(37px, 700);
    margin: 0 0 space(8) 0;
    color: $primary-900;

    @include med(md) {
      margin: 0 0 space(5) 0;
    }

    @include med(sm) {
      @include ibm-plex-mono(21px, 700);
    }
  }
}

.view-article-overview {
  .view-content {
    margin-top: space(12);

    @include med(md) {
      margin-top: space(6);
    }
  }

  .modal-filters-container {
    position: relative;
    width: fit-content;
    margin-left: auto;

    @include med(md) {
      margin: 0 auto;
    }

    .theme-filter-trigger {
      @include ibm-plex-mono(14px, 600);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      padding: space(2.5) space(3.5) space(2.5) space(5);
      border: 1px solid $neutral-300;
      background-color: $white;
      color: $neutral-700;
      cursor: pointer;

      &:after {
        content: url("/themes/custom/umweltinfo/src/assets/images/filter.svg");
        display: block;
        width: 20px;
        height: 20px;
        margin-left: space(3);
      }
    }

    .view-filters {
      @include ibm-plex-mono(17px, 400);
      position: absolute;
      width: 650px;
      max-height: 60vh;
      right: 0;
      background-color: #fff;
      z-index: 6;
      padding: space(10) space(14);
      border: 1px solid $neutral-600;
      box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.16), 0 0 0 10000vmax rgba(20, 17, 52, 0.25);
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      @include med(md) {
        width: 80vw;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @include med(sm) {
        padding: space(4) space(5);
      }

      @include med(sm) {
        @include ibm-plex-mono(14px, 400);
        padding: space(4) space(5);
      }

      label {
        @include ibm-plex-mono(19px, 500);
      }

      .bef-links {
        margin-top: space(8);

        ul {
          display: flex;
          gap: space(2.5);
          flex-wrap: wrap;
          padding: 0;

          li {
            list-style: none;

            a {
              @include ibm-plex-mono(14px, 400);
              display: block;
              padding: space(1.5) space(3);
              border: 1px solid $neutral-300;
              background-color: $neutral-200;
              text-decoration: none;

              &.bef-link--selected {
                color: $white;
                background-color: $primary-900;
              }
            }
          }
        }
      }

      .modal-close-trigger {
        background: #fff url("/themes/custom/umweltinfo/src/assets/images/x.svg") no-repeat center;
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 64px;
        cursor: pointer;

        @include med(sm) {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
